<h1>Horaires d'ouverture de <%= @shop.name %> </h1>
<ul>
  <% @shop.shop_opening_hours.each do |opening_hour| %>
    <li><%= "#{I18n.t("activerecord.attributes.shop_opening_hour.days.#{opening_hour.day}")} #{opening_hour.open_at.strftime('%Hh%M')}-#{opening_hour.break_starts_at.strftime('%Hh%M')} #{opening_hour.break_ends_at.strftime('%Hh%M')}-#{opening_hour.close_at.strftime('%Hh%M')}" %></li>
  <% end %>
</ul>