* {
    font-family: monospace;

    .current {
        font-weight: 700;
    }

    li {
        list-style-type: none;
        display: flex;

        p {
            margin: 12px;
        }
    }
}