* {
    font-family: monospace;

    .opening-hours-container {
        display: flex;

        ul {
            margin-left: -32px;
        }
    }

    .current,
    .opening-hours-title {
        font-weight: 700;
    }

    li {
        list-style-type: none;
        display: flex;

        p {
            margin: 12px;
        }
    }
}